{% extends 'company_base.html' %}


{% block company_profile_content %}

    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle"
                   href="{% url 'accounts:company_profile' %}">Dashboard</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle"
                   href="{% url 'marketplace:clinical_trial_details' clinicaltrial.id %}">
                    Clinical Trial {{ clinicaltrial.identifier }}
                </a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>


            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle"
                   href="#">
                    Participants
                </a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->







    <div class="g-pa-20 g-bg-lightblue-v10-opacity-0_5">


        <div class="media">
            <div class="d-flex align-self-center">
                <h1 class="g-font-weight-300 g-font-size-28 g-color-black mb-0">Clinical Trial Participants</h1>
            </div>

            <div class="media-body align-self-auto text-right">
                <a class="btn btn-xl u-btn-lightblue-v3  g-font-size-default g-ml-10"
                   href="{% url 'marketplace:new_clinical_trial' %}" data-src="#new-project-form"
                   data-modal-target="#modal1" data-modal-effect="fadein"
                   data-speed="350" data-options="{&quot;touch&quot; : false}">
                    Add New Clinical Trial
                </a>

            </div>


        </div>

        <hr class="d-flex g-brd-gray-light-v7 g-my-20">


        {% for item in genomic_profile %}
            {{ item.username }}
            {{ item.country }}
        {% endfor %}




        <div class="card  u-card-v1 g-mb-25">

            <div class="table-hover">
                <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_length" id="DataTables_Table_2_length"><label>Show <select
                            name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries</label></div>
                    <div id="DataTables_Table_2_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                       class=""
                                                                                                       placeholder=""
                                                                                                       aria-controls="DataTables_Table_2"></label>
                    </div>
                    <table class="js-datatable table table-hover u-table--v3 u-editable-table--v1 g-color-black dataTable no-footer"
                           data-dt-info="#datatableInfo3" data-dt-search="#datatableSearch3"
                           data-dt-pagination="datatablePagination3" data-dt-page-length="5"
                           data-dt-is-responsive="false" data-dt-pagination-classes="list-inline text-right mb-0"
                           data-dt-pagination-items-classes="list-inline-item g-hidden-sm-down"
                           data-dt-pagination-links-classes="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
                           data-dt-pagination-next-classes="list-inline-item"
                           data-dt-pagination-next-link-classes="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12"
                           data-dt-pagination-next-link-markup="<span class=&quot;g-line-height-1 g-valign-middle&quot; aria-hidden=&quot;true&quot;><i class=&quot;hs-admin-angle-right&quot;></i></span><span class=&quot;sr-only&quot;>Next</span>"
                           data-dt-pagination-prev-classes="list-inline-item"
                           data-dt-pagination-prev-link-classes="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12"
                           data-dt-pagination-prev-link-markup="<span class=&quot;g-line-height-1 g-valign-middle&quot; aria-hidden=&quot;true&quot;><i class=&quot;hs-admin-angle-left&quot;></i></span><span class=&quot;sr-only&quot;>Prev</span>"
                           data-dt-is-selectable="true" id="DataTables_Table_2" role="grid"
                           aria-describedby="DataTables_Table_2_info" style="width: 1230px;">
                        <thead class="thead-light">
                        <tr role="row">


                            <th class="g-hidden-xs-up sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                rowspan="1" colspan="1" aria-label=": activate to sort column ascending"
                                style="width: 0px;">

                            </th>

                            <th class="g-first-child sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                rowspan="1" colspan="1" aria-label="

                          Name: activate to sort column ascending" style="width: 100px;">
                                <div class="media">
                                    <div class="d-flex align-self-center">Username</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>

                            </th>

                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                aria-label="Category : activate to sort column ascending" style="width: 175px;">
                                <div class="media">
                                    <div class="d-flex align-self-center">Ethnicity</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>
                            </th>

                            <th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1"
                                colspan="1" aria-label="Role: activate to sort column ascending" style="width: 157px;"
                                aria-sort="descending">
                                <div class="media">
                                    <div class="d-flex align-self-center">Gender</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>
                            </th>


                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                aria-label="Email: activate to sort column ascending" style="width:100px;">
                                <div class="media">
                                    <div class="d-flex align-self-center">Age</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                aria-label="Email: activate to sort column ascending" style="width: 200px;">
                                <div class="media">
                                    <div class="d-flex align-self-center">Email</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>
                            </th>


                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                aria-label="Progress: activate to sort column ascending" style="width: 101px;">
                                <div class="media">
                                    <div class="d-flex align-self-center">Action</div>

                                    <div class="d-flex align-self-center ml-auto">
                            <span class="d-inline-block g-width-10 g-line-height-1 g-font-size-10">
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-up"></i>
                            </a>
                            <a class="g-color-gray-light-v6 g-color-lightblue-v3--hover g-text-underline--none--hover"
                               href="#!">
                              <i class="hs-admin-angle-down"></i>
                            </a>
                          </span>
                                    </div>
                                </div>
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                aria-label=": activate to sort column ascending" style="width: 43px;">

                            </th>


                        </tr>
                        </thead>

                        <tbody>

                        {% for item in genomic_profile %}



                            <tr class="g-bg-gray-light-v8--opacity-0_4--checked odd" role="row">
                                <td class="g-hidden-xs-up">{{ item.id }}</td>
                                <td class="js-select text-left g-first-child">
                                    <label class="form-check-inline u-check g-pl-45 mb-0 mr-0">
                                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                                        <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0 g-bg-lightblue-v3--checked g-brd-lightblue-v3--checked">
                                            <i class="fa" data-check-icon=""></i>
                                        </div>
                                        {{ item.username }}
                                    </label>
                                </td>
                                <td class="">{{ item.get_race_display }}</td>
                                <td class="sorting_1">{{ item.get_gender_display }}</td>
                                <td class="">{{ item.age }}</td>
                                <td class="">{{ item.email }}</td>

                                <td >
                                    <a href="#!" class="btn btn-small u-btn-teal">
                                        <i class="fa fa-shopping-cart g-mr-5"></i>
                                        Add to Cart
                                    </a>
                                </td>
                                <td class="text-right">
                                    <div class="g-pos-rel g-top-3 d-inline-block">
                                        <a id="dropDown3_2Invoker"
                                           class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-lightblue-v3--hover"
                                           href="#!" aria-controls="dropDown3_2" aria-haspopup="true"
                                           aria-expanded="false"
                                           data-dropdown-event="click" data-dropdown-target="#dropDown{{ item.id }}">
                                            <i class="hs-admin-more-alt"></i>
                                        </a>

                                        <div id="dropDown{{ item.id }}"
                                             class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white u-dropdown--css-animation u-dropdown--hidden u-dropdown--reverse-y"
                                             aria-labelledby="dropDown3_2Invoker"
                                             style="animation-duration: 300ms; right: 0px;">
                                            <ul class="list-unstyled g-nowrap mb-0">

                                                <li>
                                                    <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14"
                                                       href="#!">
                                                        <i class="hs-admin-archive g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                                        Archive
                                                    </a>
                                                </li>


                                                   <li>
                                                    <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14"
                                                       href="#!">
                                                        <i class="hs-admin-email g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                                        Contact
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>

                    </table>


                    <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1
                        to 5 of 25 entries
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate"><a
                            class="paginate_button previous disabled" aria-controls="DataTables_Table_2" data-dt-idx="0"
                            tabindex="0" id="DataTables_Table_2_previous">Previous</a><span><a
                            class="paginate_button current" aria-controls="DataTables_Table_2" data-dt-idx="1"
                            tabindex="0">1</a><a class="paginate_button " aria-controls="DataTables_Table_2"
                                                 data-dt-idx="2" tabindex="0">2</a><a class="paginate_button "
                                                                                      aria-controls="DataTables_Table_2"
                                                                                      data-dt-idx="3" tabindex="0">3</a><a
                            class="paginate_button " aria-controls="DataTables_Table_2" data-dt-idx="4"
                            tabindex="0">4</a><a class="paginate_button " aria-controls="DataTables_Table_2"
                                                 data-dt-idx="5" tabindex="0">5</a></span><a
                            class="paginate_button next" aria-controls="DataTables_Table_2" data-dt-idx="6" tabindex="0"
                            id="DataTables_Table_2_next">Next</a></div>
                </div>
            </div>

        </div>


        {#        pagination element#}
        <div class="media align-items-center g-mb-45">
            <div id="datatableInfo1" class="media-body">Showing 5 of 25 Entries</div>

            <nav id="datatablePagination1" class="d-flex ml-auto" aria-label="Page Navigation">
                <ul class="list-inline text-right mb-0">
                    <li class="list-inline-item"><a id="datatablePagination1Prev"
                                                    class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12"
                                                    href="#!" aria-label="Previous"><span
                            class="g-line-height-1 g-valign-middle" aria-hidden="true"><i
                            class="hs-admin-angle-left"></i></span><span class="sr-only">Prev</span></a></li>
                    <li class="list-inline-item g-hidden-sm-down"><a id="datatablePaginationPage0"
                                                                     class="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15 active"
                                                                     href="#!" data-dt-page-to="0">1</a></li>
                    <li class="list-inline-item g-hidden-sm-down"><a id="datatablePagination11"
                                                                     class="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
                                                                     href="#!" data-dt-page-to="1">2</a></li>
                    <li class="list-inline-item g-hidden-sm-down"><a id="datatablePagination12"
                                                                     class="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
                                                                     href="#!" data-dt-page-to="2">3</a></li>
                    <li class="list-inline-item g-hidden-sm-down"><a id="datatablePagination13"
                                                                     class="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
                                                                     href="#!" data-dt-page-to="3">4</a></li>
                    <li class="list-inline-item g-hidden-sm-down"><a id="datatablePagination14"
                                                                     class="u-pagination-v1__item u-pagination-v1-2 g-bg-lightblue-v3--active g-color-white--active g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-brd-lightblue-v3--active g-rounded-4 g-py-8 g-px-15"
                                                                     href="#!" data-dt-page-to="4">5</a></li>
                    <li class="list-inline-item"><a id="datatablePagination1Next"
                                                    class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v7 g-brd-lightblue-v3--hover g-rounded-4 g-py-8 g-px-12"
                                                    href="#!" aria-label="Next"><span
                            class="g-line-height-1 g-valign-middle" aria-hidden="true"><i
                            class="hs-admin-angle-right"></i></span><span class="sr-only">Next</span></a></li>
                </ul>
            </nav>
        </div>
        {#        end pagination element#}

    </div>






{% endblock company_profile_content %}

