{% extends 'company_base.html' %}


{% block company_profile_content %}


{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Save"/>#}
{#    </form>#}


    <form action="" method="post">
    {% csrf_token %}
        {% for field in form %}

            <div class="row">
            <span class="text-danger small">{{ field.errors }}</span>



            <div class="col-3">
                <label>{{ field.label_tag }}</label>
            </div>

            <div class="col-3">{{ field }}</div>
             </div>
        {% endfor %}
        <input type="submit" value="Save"/>

    </form>
{% endblock company_profile_content %}

