{% extends 'profile_base.html' %}
{% load staticfiles %}
{% block profile_content %}



    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle"
                   href="{% url 'profiles:main_profile_page' %}">Dashboard</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">
                    Genomic Profile Report</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>


        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->

    <div class="g-pa-20">

        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">Genomic Report for Profile # </h1>
        <div class="row g-mb-35">


            <div class="col">

                <!-- Panel -->
                <div class="card h-100 g-brd-gray-light-v7 rounded">
                    <div class="card-block g-pa-20">
                        <h4 class="media g-font-weight-300 g-font-size-16 g-mb-10 g-mb-20--md">
                            <span class="d-flex align-self-center g-color-gray-dark-v6 g-font-weight-400">Not Significant</span>
                            <span class="media-body align-self-center text-right g-font-size-18--md g-color-black">32%</span>
                        </h4>

                        <div class="progress g-height-6 g-rounded-3 g-mb-10 g-mb-15--md">
                            <div class="progress-bar g-bg-teal-v2 g-rounded-3" role="progressbar"
                                 style="width: 32%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">99999999 of 3m Variants </p>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col">
                <!-- Panel -->
                <div class="card h-100 g-brd-gray-light-v7 rounded">
                    <div class="card-block g-pa-20">
                        <h4 class="media g-font-weight-300 g-font-size-16 g-mb-10 g-mb-20--md">
                            <span class="d-flex align-self-center g-color-gray-dark-v6 g-font-weight-400">Benign</span>
                            <span class="media-body align-self-center text-right g-font-size-18--md g-color-black">20%</span>
                        </h4>

                        <div class="progress g-height-6 g-rounded-3 g-mb-10 g-mb-15--md">
                            <div class="progress-bar g-bg-lightblue-v5 g-rounded-3" role="progressbar"
                                 style="width: 20%"
                                 aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">99999999 of 3m Variants </p>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col">
                <!-- Panel -->
                <div class="card h-100 g-brd-gray-light-v7 rounded">
                    <div class="card-block g-pa-20">
                        <h4 class="media g-font-weight-300 g-font-size-16 g-mb-10 g-mb-20--md">
                            <span class="d-flex align-self-center g-color-gray-dark-v6 g-font-weight-400">Likely Benign</span>
                            <span class="media-body align-self-center text-right g-font-size-18--md g-color-black">20%</span>
                        </h4>

                        <div class="progress g-height-6  g-rounded-3 g-mb-10 g-mb-15--md">
                            <div class="progress-bar  g-bg-darkblue-v2 g-rounded-3" role="progressbar"
                                 style="width: 20%"
                                 aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">99999999 of 3m Variants </p>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col">
                <!-- Panel -->
                <div class="card h-100 g-brd-gray-light-v7 rounded">
                    <div class="card-block g-pa-20">
                        <h4 class="media g-font-weight-300 g-font-size-16 g-mb-10 g-mb-20--md">
                            <span class="d-flex align-self-center g-color-gray-dark-v6 g-font-weight-400">Likely Pathogenic</span>
                            <span class="media-body align-self-center text-right g-font-size-18--md g-color-black">20%</span>
                        </h4>

                        <div class="progress g-height-6 g-rounded-3 g-mb-10 g-mb-15--md">
                            <div class="progress-bar g-bg-deeporange g-rounded-3" role="progressbar"
                                 style="width: 20%"
                                 aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">99999999 of 3m Variants </p>
                    </div>
                </div>
                <!-- End Panel -->
            </div>

            <div class="col">
                <!-- Panel -->
                <div class="card h-100 g-brd-gray-light-v7 rounded">
                    <div class="card-block g-pa-20">
                        <h4 class="media g-font-weight-300 g-font-size-16 g-mb-10 g-mb-20--md">
                            <span class="d-flex align-self-center g-color-gray-dark-v6 g-font-weight-400">Pathogenic</span>
                            <span class="media-body align-self-center text-right g-font-size-18--md g-color-black">20%</span>
                        </h4>

                        <div class="progress g-height-6 g-rounded-3 g-mb-10 g-mb-15--md">
                            <div class="progress-bar g-bg-primary g-rounded-3" role="progressbar"
                                 style="width: 20%"
                                 aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">99999999 of 3m Variants </p>
                    </div>
                </div>
                <!-- End Panel -->
            </div>


        </div>


        <div class="row">

            <div class="col-xl-4 g-mb-30">
                <!-- Round Diagram Report -->
                <div class="card g-brd-gray-light-v7 h-100 text-center g-pa-15 g-pa-25-30--md">
                    <header class="media g-mb-40">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">
                            Genomic Profile Report</h3>

                        <div class="media-body d-flex justify-content-end">
                            <a class="hs-admin-panel u-link-v5 g-font-size-20 g-color-gray-light-v3 g-color-secondary--hover"
                               href="#!"></a>
                            <a class="hs-admin-reload u-link-v5 g-font-size-20 g-color-gray-light-v3 g-color-secondary--hover g-ml-20"
                               href="#!"></a>
                        </div>
                    </header>

                    <section class="g-mb-40">
                        <div class="js-donut-chart g-pos-rel mx-auto" style="width: 250px; height: 250px;"
                             data-series="[45, 60, 30, 45]" data-border-width="8" data-start-angle="0"
                             data-fill-colors="[&quot;#3dd1e8&quot;,&quot;#1d75e5&quot;,&quot;#e62154&quot;,&quot;#f1f5f5&quot;]"
                             id="pieCharts0">
                            <i class="hs-admin-clipboard g-absolute-centered g-font-size-40 g-color-gray-light-v3"></i>
                        </div>
                        <style id="donutChartsStyle0">#pieCharts0 .ct-series:nth-child(1) .ct-slice-donut-solid {
                            fill: #3dd1e8
                        }

                        #pieCharts0 .ct-series:nth-child(2) .ct-slice-donut-solid {
                            fill: #1d75e5
                        }

                        #pieCharts0 .ct-series:nth-child(3) .ct-slice-donut-solid {
                            fill: #e62154
                        }

                        #pieCharts0 .ct-series:nth-child(4) .ct-slice-donut-solid {
                            fill: #f1f5f5
                        }</style>
                    </section>

                </div>
                <!-- Round Diagram Report -->

            </div>

            <!-- Income Card -->
            <div class="col">

                <!-- Pathogenicity Description -->
                <div class="card g-brd-gray-light-v7 g-mb-30">
                    <header class="media g-pa-15 g-pa-25-30-0--md g-mb-20">
                        <div class="media-body align-self-center">
                            <h3 class="text-uppercase g-font-size-default g-color-black g-mb-8">Pathogenicity Types Description </h3>
                        </div>

                    </header>

                    <div class="js-custom-scroll  g-height-300 g-pa-15 g-pa-0-30-25--md">
                        <table class="table table-responsive-sm w-100">
                            <thead>
                            <tr>
                                <th class="g-font-weight-300 g-color-gray-dark-v6 g-brd-top-none">Type
                                </th>
                                <th class="g-font-weight-300 g-color-gray-dark-v6 g-brd-top-none">Description
                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr>
                                <td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                            <span class="u-tags-v1 text-center g-width-100 g-bg-teal-v2 g-brd-lightblue-v3 g-bg-lightblue-v3 g-font-size-default g-color-white g-rounded-50 g-py-4 g-px-15">
                                                Not Significant
                                            </span>
                                </td>
                                <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </td>

                            </tr>


                             <tr>
                                <td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                            <span class="u-tags-v1 text-center g-width-100 g-bg-lightblue-v5 g-bg-lightblue-v3 g-font-size-default g-color-white g-rounded-50 g-py-4 g-px-15">
                                                Benign
                                            </span>
                                </td>
                                <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </td>

                            </tr>


                             <tr>
                                <td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                            <span class="u-tags-v1 text-center g-width-100 g-bg-darkblue-v2 g-brd-lightblue-v3 g-bg-lightblue-v3 g-font-size-default g-color-white g-rounded-50 g-py-4 g-px-15">
                                                Likely Benign
                                            </span>
                                </td>
                                <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </td>

                            </tr>


                             <tr>
                                <td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                            <span class="u-tags-v1 text-center g-width-100 g-bg-deeporange  g-font-size-default g-color-white g-rounded-50 g-py-4 g-px-15">
                                                Likely Pathogenic
                                            </span>
                                </td>
                                <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </td>

                            </tr>


                             <tr>
                                <td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                            <span class="u-tags-v1 text-center g-width-100  g-bg-primary g-font-size-default g-color-white g-rounded-50 g-py-4 g-px-15">
                                                Pathogenic
                                            </span>
                                </td>
                                <td class="g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4 g-py-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </td>

                            </tr>


                            </tbody>
                        </table>
                    </div>

                    <div class="js-area-chart u-area-chart--v1 g-pos-rel g-line-height-0" data-height="65px"
                         data-high="2420" data-low="0" data-offset-x="0" data-offset-y="0" data-postfix=" m"
                         data-is-show-area="true" data-is-show-line="false" data-is-show-point="true"
                         data-is-full-width="true"
                         data-is-stack-bars="true" data-is-show-axis-x="false" data-is-show-axis-y="false"
                         data-is-show-tooltips="true" data-tooltip-description-position="left"
                         data-tooltip-custom-class="u-tooltip--v2 g-font-weight-300 g-font-size-default g-color-gray-dark-v6"
                         data-align-text-axis-x="center" data-fill-opacity="1"
                         data-fill-colors='["#67c8d8"]'
                         data-stroke-color="#e1eaea" data-stroke-dash-array="0" data-text-size-x="14px"
                         data-text-color-x="#000000" data-text-offset-top-x="0" data-text-size-y="14px"
                         data-text-color-y="#53585e" data-points-colors='["#1cc9e4"]' data-series='[
            [
              {"meta": "$", "value": 100},
              {"meta": "$", "value": 2100},
              {"meta": "$", "value": 350},
              {"meta": "$", "value": 2920},
              {"meta": "$", "value": 840},
              {"meta": "$", "value": 2770}
            ]
          ]' data-labels='["2013", "2014", "2015", "2016", "2017"]'></div>
                </div>
                <!-- End Income Cards -->
            </div>
            <!-- End Income Card -->


        </div>
    </div>


    {% for variants in data %}
    <h1>{{ variants.id }}</h1>
        <h1>{{ variants.Pathogenicity }}</h1>
    {% endfor %}



{% endblock profile_content %}