{% extends 'profile_base.html' %}
{% load staticfiles %}
{% block profile_content %}

    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">Dashboard</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">New Project</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>


        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->

    {% if submitted %}
        <h1>Success</h1>

    {% else %}

        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">


            <div class="g-pa-20">
                <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">New Project</h1>

                <div class="row">
                    <!-- 1-st column -->
                    <div class="col-md-6">
                        <!-- Basic Text Inputs -->
                        <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                            <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">
                                Create new project here</h3>

                            <!-- Default Input -->
                            <form action="" enctype="multipart/form-data" method="POST" novalidate>
                                {{ form.as_p }}
                                <input type="submit" value="Create" class="btn btn-xl u-btn-primary g-mr-10 g-mb-15"/>
                                {% csrf_token %}
                            </form>
                            <!-- End Default Input -->

                        </div>
                        <!-- End 1-st column -->

                    </div>
                </div>
            </div>

        </div>


    {% endif %}


{% endblock profile_content %}