{% extends 'profile_base.html' %}
{% load staticfiles %}
{% block profile_content %}

    <!-- Breadcrumb-v1 -->
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">Dashboard</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">New
                    Project</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>


        </ul>
    </div>
    <!-- End Breadcrumb-v1 -->



    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">


        <div class="g-pa-20">


            <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">Project Details</h1>

            <div class="row">
                <!-- 1-st column -->
                <div class="col-md-8">
                    <!-- Basic Text Inputs -->
                    <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                        <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">
                            Details of project # {{ project_details.id }}</h3>


                        <div class="row g-mb-20">

                            <!-- Table Striped Rows -->
                            <div class="table-responsive">
                                <table class="table table-striped">


                                    <tr>
                                        <td>ID</td>
                                        <td>{{ project_details.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ project_details.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Position</td>
                                        <td>{{ project_details.position }}</td>
                                    </tr>
                                    <tr>
                                        <td>Company</td>
                                        <td>{{ project_details.company }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{ project_details.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>{{ project_details.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{ project_details.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Web</td>
                                        <td>{{ project_details.web }}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{ project_details.description }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project Status</td>
                                        <td>{{ project_details.get_project_status_display }}</td>
                                    </tr>
                                    <tr>
                                        <td>Priority</td>
                                        <td>{{ project_details.priority }}</td>
                                    </tr>
                                    <tr>
                                        <td>Job File</td>
                                        <td>{{ project_details.job_file }}</td>
                                    </tr>
                                    <tr>
                                        <td>File Format</td>
                                        <td>{{ project_details.file_format }}</td>
                                    </tr>
                                    <tr>
                                        <td>Submitted</td>
                                        <td>{{ project_details.submitted }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project Date</td>
                                        <td>{{ project_details.project_date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Project Price</td>
                                        <td>{{ project_details.project_price }}</td>
                                    </tr>


                                </table>


                            </div>

                            <a href="{% url 'profiles:project_update' project_details.id %}">Update</a>
{#                            <a href="{% url 'p:project_delete' project_details.id %}">Delete</a>#}
                            <div>
                                <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10"
                                        type="submit" onclick="location.href='{% url 'profiles:project_update' project_details.id %}'">
                                    Update Project
                                </button>

                                <button class="btn btn-md btn-xl--md u-btn-primary g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10"
                                        type="submit" onclick="location.href='{% url 'profiles:project_delete' project_details.id %}'">
                                    Delete Project
                                </button>


                            </div>


                        </div>


                    </div>
                    <!-- End 1-st column -->


                </div>
                <!-- Calendar Card -->
                <div class="col-md-4">

                    <!-- Calendar Card -->
                    <div class="g-mb-30">
                        <header class="u-bg-overlay g-bg-img-hero g-bg-black-opacity-0_5--after g-rounded-4 g-rounded-0--bottom-left g-rounded-0--bottom-right g-overflow-hidden"
                                style="background-image: url({% static 'genewhisper/assets_website/img-temp/400x270/tulips-spring-wallpaper-400x270-MM-100.jpg' %});">
                            <div class="u-bg-overlay__inner g-color-white g-pa-30">
                                <h3 class="g-font-weight-300 g-font-size-28 g-color-white g-mb-35">
                                    Friday 3rd
                                    <span class="d-block g-font-size-16">January 2017</span>
                                </h3>
                                <a class="btn btn-md text-uppercase u-btn-outline-white" href="#">Add event</a>
                            </div>
                        </header>

                        <section
                                class="g-brd-around g-brd-top-none g-brd-gray-light-v7 g-rounded-4 g-rounded-0--top-left g-rounded-0--top-right">
                            <div class="g-pa-10 g-pa-20--md">
                                <div id="datepicker" class="u-datepicker--v2"></div>
                            </div>

                            <ul class="list-unstyled">
                                <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-darkblue-v2 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
                                    <strong class="d-flex align-self-center g-width-80 g-color-black">8:00am</strong>

                                    <div class="media-body g-font-weight-300 g-color-black">Build My Own Website
                                    </div>
                                </li>
                                <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-lightblue-v4 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
                                    <strong class="d-flex align-self-center g-width-80 g-color-black">9:00am</strong>

                                    <div class="media-body g-font-weight-300 g-color-black">Create New Content
                                    </div>
                                </li>
                                <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-darkblue-v2 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
                                    <strong class="d-flex align-self-center g-width-80 g-color-black">10:00am</strong>

                                    <div class="media-body g-font-weight-300 g-color-black">Check Unify Profile
                                        Updates
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <!-- End Calendar Card -->

                    <div class="card g-brd-gray-light-v7 g-mb-30">
                        <header class="media g-pa-15 g-pa-25-30-0--md g-mb-20">
                            <h3 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">
                                Tickets</h3>
                        </header>

                        <div class="js-custom-scroll g-height-400 g-pa-15 g-pa-0-30-25--md">
                            <section>
                                <div class="media">
                                    <div class="media-body g-mb-15">
                                        <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">
                                            Freelance
                                            Design</h3>
                                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">15 Tips To
                                            Increase
                                            Your Adwords</p>
                                    </div>

                                    <div class="d-flex">
                                        <a class="u-link-v5 g-font-size-16 g-color-lightblue-v3"
                                           href="#!">#001-3456</a>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body align-self-center" href="#!">
                                        <span class="u-tags-v1 text-center g-width-140 g-bg-lightblue-v3 g-color-white g-brd-around g-brd-lightblue-v3 g-rounded-50 g-py-4 g-px-15">In Progress</span>
                                    </div>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                        <i class="hs-admin-time g-font-size-default g-font-size-18--md g-color-gray-light-v3"></i>
                                        <span class="g-font-weight-300 g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-ml-4 g-ml-8--md">45 Min <span
                                                class="g-hidden-md-down">ago</span></span>
                                    </em>
                                </div>
                            </section>

                            <hr class="d-flex g-brd-gray-light-v4 g-my-25">

                            <section>
                                <div class="media">
                                    <div class="media-body g-mb-15">
                                        <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">The
                                            Flash
                                            Tutorial</h3>
                                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">Las Vegas How To
                                            Have
                                            Non Gambling</p>
                                    </div>

                                    <div class="d-flex">
                                        <a class="u-link-v5 g-font-size-16 g-color-lightblue-v3"
                                           href="#!">#001-3458</a>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body align-self-center" href="#!">
                                        <span class="u-tags-v1 text-center g-width-140 g-bg-teal-v2 g-color-white g-brd-around g-brd-teal-v2 g-rounded-50 g-py-4 g-px-15">Done</span>
                                    </div>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                        <i class="hs-admin-time g-font-size-default g-font-size-18--md g-color-gray-light-v3"></i>
                                        <span class="g-font-weight-300 g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-ml-4 g-ml-8--md">15 Min <span
                                                class="g-hidden-md-down">ago</span></span>
                                    </em>
                                </div>
                            </section>

                            <hr class="d-flex g-brd-gray-light-v4 g-my-25">

                            <section>
                                <div class="media">
                                    <div class="media-body g-mb-15">
                                        <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">Free
                                            Advertising</h3>
                                        <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">How Does An Lcd
                                            Screen Work</p>
                                    </div>

                                    <div class="d-flex">
                                        <a class="u-link-v5 g-font-size-16 g-color-lightblue-v3"
                                           href="#!">#001-3454</a>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body align-self-center" href="#!">
                                        <span class="u-tags-v1 text-center g-width-140 g-bg-lightred-v2 g-color-white g-brd-around g-brd-lightred-v2 g-rounded-50 g-py-4 g-px-15">To Do</span>
                                    </div>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                        <i class="hs-admin-time g-font-size-default g-font-size-18--md g-color-gray-light-v3"></i>
                                        <span class="g-font-weight-300 g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-ml-4 g-ml-8--md">10 Min <span
                                                class="g-hidden-md-down">ago</span></span>
                                    </em>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- End Calendar Card -->

            </div>
        </div>
    </div>





{% endblock profile_content %}