<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<div class="col-lg-9">
 <h1> New Project</h1>

    {% if submitted %}
        <p class="success">
            Your quote was submitted successfully. Thank you.
        </p>

    {% else %}
        <form action="" enctype="multipart/form-data" method="post" novalidate class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    {% endif %}



</div>







</body>
</html>