<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>
<body>

<table>
    <tr><td>ID</td><td>{{ project_details.id }}</td></tr>
    <tr><td>Name</td><td>{{ project_details.name }}</td></tr>
    <tr><td>Position</td><td>{{ project_details.position }}</td></tr>
    <tr><td>Company</td><td>{{ project_details.company }}</td></tr>
    <tr><td>Address</td><td>{{ project_details.address }}</td></tr>
    <tr><td>Phone</td><td>{{ project_details.phone }}</td></tr>
    <tr><td>Email</td><td>{{ project_details.email }}</td></tr>
    <tr><td>Web</td><td>{{ project_details.web }}</td></tr>
    <tr><td>Description</td><td>{{ project_details.description }}</td></tr>
    <tr><td>Project Status</td><td>{{ project_details.get_project_status_display }}</td></tr>
    <tr><td>Priority</td><td>{{ project_details.priority }}</td></tr>
    <tr><td>Job File</td><td>{{ project_details.job_file }}</td></tr>
    <tr><td>File Format</td><td>{{ project_details.file_format }}</td></tr>
    <tr><td>Submitted</td><td>{{ project_details.submitted }}</td></tr>
    <tr><td>Project Date</td><td>{{ project_details.project_date }}</td></tr>
    <tr><td>Project Price</td><td>{{ project_details.project_price }}</td></tr>

</table>
<a  href="{% url 'projects:project_update' project_details.id %}">Update</a>
<a  href="{% url 'projects:project_delete' project_details.id %}">Delete</a>

<p><a href="{% url 'projects:list_all_projects' %}">Back to List of projects</a></p>
</body>
</html>