<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
    table, th, td {
    border: 1px solid black;
}

</style>
</head>
<body>
<h1>List of all the projects</h1>

<table >
    <tr >
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Submitted</th>

        <th>Project Date</th>
        <th>Project Prise</th>
    </tr>
    <tr>
        {% for project in all_projects_list %}

            <td><a href="{% url 'projects:project_details' project.id %}">{{ project.id }}</a></td>
            <td>{{ project.name }}</td>
            <td>{{ project.company }}</td>
            <td>{{ project.submitted|date:"m-d-y" }}</td>
            <td>{{ project.project_date|date:"m-d-y" }}</td>
            <td>{{ project.project_price }}</td>

            </tr>
        {% endfor %}
</table>

</body>
</html>