<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Title -->
    <title>Classic Header - Semitransparent Dark Background | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'genewhisper/assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets/vendor/bootstrap/offcanvas.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'genewhisper/assets/css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets/css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets/css/unify-globals.css' %}">


    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">
    <link rel="stylesheet" href="{% static 'genewhisper/assets/css/custom.css' %}">


</head>

<body>
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
        data-header-fix-moment="300">
    <div class="u-header__section u-header__section--dark g-bg-black-opacity-0_4 g-transition-0_3 g-py-10"
         data-header-fix-moment-exclude="g-bg-black-opacity-0_4 g-py-10"
         data-header-fix-moment-classes="g-bg-black-opacity-0_7 g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                        type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="#" alt="GeneWhisper">
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">


                        {% if user.is_authenticated %}
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'home' %}" class="nav-link px-0">Home</a>
                            </li>

                            <li class="nav-item g-mx-20--lg">
                                <a href="#" class="nav-link px-0">Create Project</a>
                            </li>

                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'accounts:logout' %}" class="nav-link px-0">LogOut</a>
                            </li>

                        {% else %}

                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'home' %}" class="nav-link px-0">Home</a>
                            </li>

                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'accounts:login' %}" class="nav-link px-0">Login</a>
                            </li>

                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'accounts:signup' %}" class="nav-link px-0">SingUp</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->








<div class="container mycontent">

    {% block content %}

    {% endblock %}
</div>



</body>
</html>