{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Profile</title>


    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/bootstrap/bootstrap.min.css' %}">
    <!-- CSS Global Icons -->
    <link rel="stylesheet"
          href="{% static 'genewhisper/assets_website/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/icon-etlinefont/style.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_profile/vendor/hs-admin-icons/hs-admin-icons.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/animate.css' %}">


    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/custombox/custombox.min.css' %}">


    <link rel="stylesheet"
          href="{% static 'genewhisper/assets_website/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_profile/vendor/flatpickr/dist/css/flatpickr.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'genewhisper/assets_profile/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_profile/vendor/chartist-js/chartist.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'genewhisper/assets_profile/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_profile/vendor/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/vendor/hamburgers/hamburgers.min.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'genewhisper/assets_profile/css/unify-admin.css' %}">


    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'genewhisper/assets_website/css/custom.css' %}">


</head>

<body>
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-light u-shadow-v22 g-min-height-65">
        <nav class="navbar no-gutters g-pa-0">
            <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                <!-- Logo -->
                <a href="#"
                   class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">

                    <a href="{% url 'home' %}" class="navbar-brand">GeneWhisper</a>
                </a>
                <!-- End Logo -->

                <!-- Sidebar Toggler -->
                <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#!"
                   data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini"
                   data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true"
                   data-hssm-target="#sideNav">
                    <i class="hs-admin-align-left"></i>
                </a>
                <!-- End Sidebar Toggler -->
            </div>

            <!-- Top Search Bar -->
            <form id="searchMenu" class="u-header--search col-sm g-py-12 g-ml-15--sm g-ml-20--md g-mr-10--sm"
                  aria-labelledby="searchInvoker" action="#!">
                <div class="input-group g-max-width-450">
                    <input class="form-control form-control-md g-rounded-4" type="text"
                           placeholder="Enter search keywords">
                    <button type="submit"
                            class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2">
                        <i class="hs-admin-search"></i>
                    </button>
                </div>
            </form>
            <!-- End Top Search Bar -->

            <!-- Messages/Notifications/Top Search Bar/Top User -->
            <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
                <!-- Top Messages -->
                <div class="g-pos-rel g-hidden-sm-down g-mr-5">
                    <a id="messagesInvoker"
                       class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
                       href="#!" aria-controls="messagesMenu" aria-haspopup="true" aria-expanded="false"
                       data-dropdown-event="click" data-dropdown-target="#messagesMenu"
                       data-dropdown-type="css-animation" data-dropdown-duration="300"
                       data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                        <span class="u-badge-v1 g-top-7 g-right-7 g-width-18 g-height-18 g-bg-primary g-font-size-10 g-color-white rounded-circle p-0">7</span>
                        <i class="hs-admin-comment-alt g-absolute-centered"></i>
                    </a>

                    <!-- Top Messages List -->
                    <div id="messagesMenu" class="g-absolute-centered--x g-width-340 g-max-width-400 g-mt-17 rounded"
                         aria-labelledby="messagesInvoker">
                        <div class="media u-header-dropdown-bordered-v1 g-pa-20">
                            <h4 class="d-flex align-self-center text-uppercase g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">
                                3 new messages</h4>
                            <div class="media-body align-self-center text-right">
                                <a class="g-color-secondary" href="#!">View All</a>
                            </div>
                        </div>

                        <ul class="p-0 mb-0">
                            <!-- Top Messages List Item -->
                            <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                <div class="d-flex g-mr-15">
                                    <img class="g-width-40 g-height-40 rounded-circle"
                                         src="{% static 'genewhisper/assets_website/img-temp/100x100/img1.jpg' %}"
                                         alt="Image Description">
                                </div>

                                <div class="media-body">
                                    <h5 class="g-font-size-16 g-font-weight-400 g-mb-5"><a href="#!">Verna Swanson</a>
                                    </h5>
                                    <p class="g-mb-10">Not so many years businesses used to grunt at using</p>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-lightblue-v2">
                                        <i class="hs-admin-time icon-clock g-mr-5"></i>
                                        <small>5 Min ago</small>
                                    </em>
                                </div>
                                <a class="u-link-v2" href="#!">Read</a>
                            </li>
                            <!-- End Top Messages List Item -->

                            <!-- Top Messages List Item -->
                            <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                <div class="d-flex g-mr-15">
                                    <img class="g-width-40 g-height-40 rounded-circle"
                                         src="{% static 'genewhisper/assets_website/img-temp/100x100/img1.jpg' %}"
                                         alt="Image Description">
                                </div>

                                <div class="media-body">
                                    <h5 class="g-font-size-16 g-font-weight-400 g-mb-5"><a href="#!">Eddie Hayes</a>
                                    </h5>
                                    <p class="g-mb-10">But today and influence of is growing right along
                                        illustration</p>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-lightblue-v2">
                                        <i class="hs-admin-time icon-clock g-mr-5"></i>
                                        <small>22 Min ago</small>
                                    </em>
                                </div>
                                <a class="u-link-v2" href="#!">Read</a>
                            </li>
                            <!-- End Top Messages List Item -->

                            <!-- Top Messages List Item -->
                            <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                <div class="d-flex g-mr-15">
                                    <img class="g-width-40 g-height-40 rounded-circle"
                                         src="{% static 'genewhisper/assets_website/img-temp/100x100/img1.jpg' %}"
                                         alt="Image Description">
                                </div>

                                <div class="media-body">
                                    <h5 class="g-font-size-16 g-font-weight-400 g-mb-5"><a href="#!">Herbert Castro</a>
                                    </h5>
                                    <p class="g-mb-10">But today, the use and influence of illustrations is growing
                                        right along</p>

                                    <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-lightblue-v2">
                                        <i class="hs-admin-time icon-clock g-mr-5"></i>
                                        <small>15 Min ago</small>
                                    </em>
                                </div>
                                <a class="u-link-v2" href="#!">Read</a>
                            </li>
                            <!-- End Top Messages List Item -->
                        </ul>
                    </div>
                    <!-- End Top Messages List -->
                </div>
                <!-- End Top Messages -->

                <!-- Top Notifications -->
                <div class="g-pos-rel g-hidden-sm-down">
                    <a id="notificationsInvoker"
                       class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
                       href="#!" aria-controls="notificationsMenu" aria-haspopup="true" aria-expanded="false"
                       data-dropdown-event="click"
                       data-dropdown-target="#notificationsMenu" data-dropdown-type="css-animation"
                       data-dropdown-duration="300" data-dropdown-animation-in="fadeIn"
                       data-dropdown-animation-out="fadeOut">
                        <i class="hs-admin-bell g-absolute-centered"></i>
                    </a>

                    <!-- Top Notifications List -->
                    <div id="notificationsMenu"
                         class="js-custom-scroll g-absolute-centered--x g-width-340 g-max-width-400 g-height-400 g-mt-17 rounded"
                         aria-labelledby="notificationsInvoker">
                        <div class="media text-uppercase u-header-dropdown-bordered-v1 g-pa-20">
                            <h4 class="d-flex align-self-center g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">
                                Notifications</h4>
                        </div>

                        <ul class="p-0 mb-0">
                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-bookmark-alt g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">A Pocket PC is a handheld computer features</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->

                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-blackboard g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">The first is a non technical method which requires</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->

                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-calendar g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">Stu Unger is of the biggest superstarsis</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->

                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-pie-chart g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">Sony laptops are among the most well known laptops</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->
                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-bookmark-alt g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">A Pocket PC is a handheld computer features</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->

                            <!-- Top Notifications List Item -->
                            <li class="media u-header-dropdown-item-v1 g-parent g-px-20 g-py-15">
                                <div class="d-flex align-self-center u-header-dropdown-icon-v1 g-pos-rel g-width-55 g-height-55 g-font-size-22 rounded-circle g-mr-15">
                                    <i class="hs-admin-blackboard g-absolute-centered"></i>
                                </div>

                                <div class="media-body align-self-center">
                                    <p class="mb-0">The first is a non technical method which requires</p>
                                </div>

                                <a class="d-flex g-color-lightblue-v2 g-font-size-12 opacity-0 g-opacity-1--parent-hover g-transition--ease-in g-transition-0_2"
                                   href="#!">
                                    <i class="hs-admin-close"></i>
                                </a>
                            </li>
                            <!-- End Top Notifications List Item -->
                        </ul>
                    </div>
                    <!-- End Top Notifications List -->
                </div>
                <!-- End Top Notifications -->

                <!-- Top Search Bar (Mobi) -->
                <a id="searchInvoker"
                   class="g-hidden-sm-up text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
                   href="#!" aria-controls="searchMenu" aria-haspopup="true" aria-expanded="false"
                   data-is-mobile-only="true" data-dropdown-event="click"
                   data-dropdown-target="#searchMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                   data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                    <i class="hs-admin-search g-absolute-centered"></i>
                </a>
                <!-- End Top Search Bar (Mobi) -->

                <!-- Top User -->
                <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                    <div class="g-pos-rel g-px-10--lg">
                        <a id="profileMenuInvoker" class="d-block" href="{% url 'profiles:main_profile_page' %}"
                           aria-controls="profileMenu"
                           aria-haspopup="true" aria-expanded="false" data-dropdown-event="click"
                           data-dropdown-target="#profileMenu" data-dropdown-type="css-animation"
                           data-dropdown-duration="300"
                           data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel">
        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-lightblue-v5 g-mr-5"></span>
                <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm"
                     src="{% static 'genewhisper/assets_profile/img-temp/130x130/img1.jpg' %}" alt="Image description">
                </span>
                            <span class="g-pos-rel g-top-2">
        <span class="g-hidden-sm-down">{{ user.first_name }} {{ user.last_name }}</span>
                <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                </span>
                        </a>

                        <!-- Top User Menu -->
                        <ul id="profileMenu"
                            class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded"
                            aria-labelledby="profileMenuInvoker">
                            <li class="g-hidden-sm-up g-mb-10">
                                <a class="media g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-pos-rel g-mr-12">
          <span class="u-badge-v1 g-top-minus-3 g-right-minus-3 g-width-18 g-height-18 g-bg-lightblue-v5 g-font-size-10 g-color-white rounded-circle p-0">10</span>
                    <i class="hs-admin-comment-alt"></i>
                    </span>
                                    <span class="media-body align-self-center">Unread Messages</span>
                                </a>
                            </li>
                            <li class="g-hidden-sm-up g-mb-10">
                                <a class="media g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-bell"></i>
        </span>
                                    <span class="media-body align-self-center">Notifications</span>
                                </a>
                            </li>
                            <li class="g-mb-10">
                                <a class="media g-color-lightred-v2--hover g-py-5 g-px-20"
                                   href="{% url 'profiles:main_profile_page' %}">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-user"></i>
        </span>
                                    <span class="media-body align-self-center">My Profile</span>
                                </a>
                            </li>
                            <li class="g-mb-10">
                                <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-rocket"></i>
        </span>
                                    <span class="media-body align-self-center">Upgrade Plan</span>
                                </a>
                            </li>
                            <li class="g-mb-10">
                                <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-layout-grid-2"></i>
        </span>
                                    <span class="media-body align-self-center">Latest Projects</span>
                                </a>
                            </li>
                            <li class="g-mb-10">
                                <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-headphone-alt"></i>
        </span>
                                    <span class="media-body align-self-center">Get Support</span>
                                </a>
                            </li>
                            <li class="mb-0">
                                <a class="media g-color-lightred-v2--hover g-py-5 g-px-20"
                                   href="{% url 'accounts:logout' %}">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-shift-right"></i>
        </span>
                                    <span class="media-body align-self-center">Sign Out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Top User Menu -->
                    </div>
                </div>
                <!-- End Top User -->
            </div>
            <!-- End Messages/Notifications/Top Search Bar/Top User -->

        </nav>


    </div>
</header>
<!-- End Header -->


<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">

        <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--light">
            <ul id="sideNavMenu"
                class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">


                <!-- Dashboard -->
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item has-active">
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12"
                       href="#!" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-dashboard"></i>
    </span>
                        <span class="media-body align-self-center">Dashboard</span>
                        <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
                        <span class="u-side-nav--has-sub-menu__indicator"></span>
                    </a>

                    <!-- Dashboards: Submenu-1 -->
                    <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0"
                        style="display: none;">
                        <!-- Dashboards v1 -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12"
                               href="{% url 'accounts:company_profile' %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-user"></i>
        </span>
                                <span class="media-body align-self-center">Profile</span>
                            </a>
                        </li>
                        <!-- End Dashboards v1 -->

                        <!-- Dashboards v2 -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 active"
                               href="{% url 'home' %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-blackboard"></i>
        </span>
                                <span class="media-body align-self-center">Home Page</span>
                            </a>
                        </li>
                        <!-- End Dashboards v2 -->
                    </ul>
                    <!-- End Dashboards: Submenu-1 -->
                </li>
                <!-- End Dashboard -->


                <!-- Clinical Trial -->
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item has-active">
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12"
                       href="#!" data-hssm-target="#subMenu2">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-layout-grid-2"></i>
    </span>
                        <span class="media-body align-self-center">Clinical Trial</span>
                        <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
                        <span class="u-side-nav--has-sub-menu__indicator"></span>
                    </a>

                    <!-- Dashboards: Submenu-1 -->
                    <ul id="subMenu2" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0"
                        style="display: none;">
                        <!-- Dashboards v1 -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12"
                               href="{% url 'marketplace:clinical_trial_list' %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-align-justify"></i>
        </span>
                                <span class="media-body align-self-center">List Of Clinical Trials</span>
                            </a>
                        </li>
                        <!-- End Dashboards v1 -->

                        <!-- Dashboards v2 -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                            <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12 active"
                               href="{% url 'marketplace:new_clinical_trial' %}">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-clipboard"></i>
        </span>
                                <span class="media-body align-self-center">New Clinical Trial</span>
                            </a>
                        </li>
                        <!-- End Dashboards v2 -->
                    </ul>
                    <!-- End Dashboards: Submenu-1 -->
                </li>
                <!-- End Clinical Trial -->


                <!-- Clinical Trial -->
                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item has-active">
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12"
                       href="{% url 'marketplace:file_manager' %}">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-folder"></i>
    </span>
                        <span class="media-body align-self-center">File Manager</span>

                    </a>

                    <!-- End Dashboards: Submenu-1 -->
                </li>
                <!-- End Clinical Trial -->


            </ul>
        </div>


        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
            {% block company_profile_content %}


            {% endblock company_profile_content %}


            <!-- Footer -->
            <footer id="footer"
                    class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
                <div class="row align-items-center">
                    <!-- Footer Nav -->
                    <div class="col-md-4 g-mb-10 g-mb-0--md">
                        <ul class="list-inline text-center text-md-left mb-0">
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">FAQ</a>
                            </li>
                            <li class="list-inline-item">
                                <span class="g-color-gray-dark-v6">|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">Support</a>
                            </li>
                            <li class="list-inline-item">
                                <span class="g-color-gray-dark-v6">|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Footer Nav -->

                    <!-- Footer Socials -->
                    <div class="col-md-4 g-mb-10 g-mb-0--md">
                        <ul class="list-inline g-font-size-16 text-center mb-0">
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-facebook g-color-lightblue-v3--hover">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-google-plus g-color-lightblue-v3--hover">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-black g-color-lightblue-v3--hover">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-twitter g-color-lightblue-v3--hover">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Footer Socials -->

                    <!-- Footer Copyrights -->
                    <div class="col-md-4 text-center text-md-right">
                        <small class="d-block g-font-size-default">&copy; 2018 GeneWhisper. All Rights Reserved.
                        </small>
                    </div>
                    <!-- End Footer Copyrights -->
                </div>
            </footer>
            <!-- End Footer -->

        </div>


    </div>
</main>


<!-- JS Global Compulsory -->
<script src="{% static 'genewhisper/assets_website/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/popper.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/bootstrap/bootstrap.min.js' %}"></script>

{##}
{#<script src="../assets/vendor/cookiejs/jquery.cookie.js"></script>#}
<script src="{% static 'genewhisper/assets_website/vendor/cookiejs/jquery.cookie.js' %}"></script>

<!-- jQuery UI Core -->
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/widget.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/version.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/keycode.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/position.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/unique-id.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/safe-active-element.js' %}"></script>

<!-- jQuery UI Helpers -->
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/widgets/menu.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>


<!-- jQuery UI Widgets -->
<script src="{% static 'genewhisper/assets_website/vendor/jquery-ui/ui/widgets/datepicker.js' %}"></script>


<!-- JS Plugins Init. -->
<script src="{% static 'genewhisper/assets_website/vendor/appear.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/vendor/bootstrap-select/js/bootstrap-select.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/vendor/flatpickr/dist/js/flatpickr.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/vendor/chartist-js/chartist.min.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/vendor/chartist-js-tooltip/chartist-plugin-tooltip.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/vendor/fancybox/jquery.fancybox.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'genewhisper/assets_website/js/hs.core.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/js/components/hs.side-nav.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/js/components/hs.range-datepicker.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/components/hs.datepicker.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/components/hs.dropdown.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/js/components/hs.area-chart.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/js/components/hs.donut-chart.js' %}"></script>
<script src="{% static 'genewhisper/assets_profile/js/components/hs.bar-chart.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/components/hs.popup.js' %}"></script>

<!-- JS Custom -->
<script src="{% static 'genewhisper/assets_website/js/custom.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/vendor/jquery.filer/js/jquery.filer.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'genewhisper/assets_website/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'genewhisper/assets_website/js/components/hs.file-attachement.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'genewhisper/assets_website/vendor/custombox/custombox.min.js' %}"></script>
<!-- JS Unify -->
<script src="{% static 'genewhisper/assets_website/js/components/hs.modal-window.js' %}"></script>


<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of custom select
        $('.js-select').selectpicker();

        // initialization of sidebar navigation component
        $.HSCore.components.HSSideNav.init('.js-side-nav');

        // initialization of hamburger
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of charts
        $.HSCore.components.HSAreaChart.init('.js-area-chart');
        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
        $.HSCore.components.HSBarChart.init('.js-bar-chart');

        // initialization of range datepicker
        $.HSCore.components.HSRangeDatepicker.init('#rangeDatepicker, #rangeDatepicker2, #rangeDatepicker3');

        // initialization of datepicker
        $.HSCore.components.HSDatepicker.init('#datepicker', {
            dayNamesMin: [
                'SU',
                'MO',
                'TU',
                'WE',
                'TH',
                'FR',
                'SA'
            ]
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {dropdownHideOnScroll: false});

        // initialization of custom scrollbar
        $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox', {
            btnTpl: {
                smallBtn: '<button data-fancybox-close class="btn g-pos-abs g-top-25 g-right-30 g-line-height-1 g-bg-transparent g-font-size-16 g-color-gray-light-v3 g-brd-none p-0" title=""><i class="hs-admin-close"></i></button>'
            }
        });
    });


    $(document).on('ready', function () {
        // initialization of forms
        $.HSCore.components.HSFileAttachment.init('.js-file-attachment');
        $.HSCore.helpers.HSFocusState.init();
    });


    <!-- JS Implementing Plugins -->
    <!-- JS Unify -->

    <!-- JS Plugins Init. -->
    $(document).on('ready', function () {
        // initialization of popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target]');
    });

</script>


</body>

</html>
